h1{
    color: aqua;
    text-align: center;
    justify-content: center;
    text-decoration: solid;
    margin: auto;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.body{
    background: wheat;
    
}
nav{
    background-color: violet;
    color: white;
}
.leftsection{
    margin: auto;
    color:whitesmoke;
    margin: 10px ;
    padding: 10px 10px;
}